In [7]:
# Import mysql connector and connect to the data base
import mysql.connector as connector

connection=connector.connect(user="root",password="",db = "LittleLemonDB")

cursor=connection.cursor()

In [8]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)
results = cursor.fetchall()

In [9]:
print(results)

[('Bookings',), ('BookingStatus',), ('Customers',), ('MenuItems',), ('Menus',), ('Orders',), ('OrderStatus',), ('ordersview',)]

In [10]:
query = '''SELECT Customers.CustomerName, Orders.Sales FROM Orders
        INNER JOIN Customers
        ON Customers.CustomerID = Orders.CustomerID
        WHERE Orders.Sales > 60'''

In [11]:
cursor.execute(query)
results = cursor.fetchall()

In [14]:
print(cursor.column_names)
for i in range(10): #printout only first 10 results
    print(results[i])

('CustomerName', 'Sales')
('Pansie Alldis', Decimal('252.41'))
('Xymenes Hands', Decimal('139.70'))
('Lulu Hastin', Decimal('352.50'))
('Salvidor Francesch', Decimal('315.00'))
('Noni Quickenden', Decimal('480.00'))
('Jilleen Foux', Decimal('186.93'))
('Grenville Hyne', Decimal('216.14'))
('Ram Sinclaire', Decimal('152.40'))
('Jilly Bursnoll', Decimal('330.00'))
('Gabe Boyan', Decimal('139.70'))